<html> 
<body>
<h1 id ='1'>
Welcome to battleship

</h1>        


<form method="POST" action="/setup">
        <button onclick= "sayHi()" type="submit" id ='1'>Start Setup!</button>
        


</form>
<button  type="submit" id ='2'>Test Button!</button>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
  </script>
<script type = "text/javascript" src= "/scripts/test.js"></script>

</body>
</html>